<p id="notice"><%= notice %></p>

<p>
  <b>Question answer:</b>
  <%= @answer.question_answer %>
</p>

<p>
  <b>Correct answer:</b>
  <%= @answer.correct_answer %>
</p>

<p>
  <b>Question:</b>
  <%= @answer.question_id %>
</p>


<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
